<ul>
  {{#each days}}
    <li>
      {{forecast-date-format startsAt daysSince}}
      {{weather-icon weather}}
      {{high}}&#176;/{{low}}&#176;F
    </li>
  {{/each}}
</ul>

{{#link-to 'resort' resort}}
  Back to Resort
{{/link-to}}
